[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/Rounak-Paul/glfw.git
	branch = master
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/Rounak-Paul/glm.git
	branch = master
[submodule "vendors/vma"]
	path = vendors/vma
	url = https://github.com/Rounak-Paul/VulkanMemoryAllocator.git
	branch = master
[submodule "vendors/freetype"]
	path = vendors/freetype
	url = https://github.com/freetype/freetype.git
